.toolbar-panel {
  width: 100%;
  padding: 5px;
}

.main-content {
  margin: 20px;
}

.search-input {
  width: 500px;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.toolbar-content {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: transparent;

  > * {
    margin-right: 1rem;
  }
}

