<mat-grid-list cols="2" rowHeight="100%">
  <mat-grid-tile>
    <img mat-card-image [ngSrc]="book.image || 'assets/images/2.jpg'" fill>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card" appearance="outlined">
      <mat-card-content>
        <mat-card-title>Название: {{ book.title }}</mat-card-title>
        <mat-card-subtitle>Автор: {{ book.author }}Dog Breed</mat-card-subtitle>
        <mat-card-subtitle>Жанр: {{ book.genre }}Dog Breed</mat-card-subtitle>
        <mat-card-subtitle>Год: {{ book.year }}Dog Breed</mat-card-subtitle>
        <mat-card-subtitle>Количество страниц: {{ book.pages }}Dog Breed</mat-card-subtitle>
        <p>
          {{ book.description }}
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

