/* You can add global styles to this file, and also import other style files */

html, body, app-root {
  height: 100%;
}

body {
  background: #fff6f6;
  margin: 0 4em;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-width: 1000px;
}

